{% extends 'layouts/base.html' %} {% load i18n %} {% block content %}
<div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-10 col-lg-6 col-xl-5">
            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">{% trans 'Login' %}</p>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %} {% if messages %} {% for message in messages %}
                <div
                    class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}"
                >
                    {{ message }}
                </div>
                {% endfor %} {% endif %}
                <!-- Username input -->
                <div class="form-outline mb-4">
                    <input
                        type="text"
                        id="username"
                        name="username"
                        class="form-control form-control-lg"
                        placeholder="{% trans 'Enter a valid username' %}"
                        value="{{ username }}"
                    />
                    <label class="form-label" for="username">{% trans 'Username' %}</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-3">
                    <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control form-control-lg"
                        placeholder="{% trans 'Enter password' %}"
                        value="{{ password }}"
                    />
                    <label class="form-label" for="password">{% trans 'Password' %}</label>
                </div>

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input me-2" type="checkbox" value="" id="remember" name="remember" />
                        <label class="form-check-label" for="remember">{% trans 'Remember me' %}</label>
                    </div>
                    <a href="#!" class="text-body">{% trans 'Forgot password?' %}</a>
                </div>

                <div class="text-center text-lg-start">
                    <button type="submit" class="btn btn-lg btn-custom-bg text-white py-2">{% trans 'Login' %}</button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">
                        {% trans "Don't have an account?" %}
                        <a href="{% url 'register' %}" class="link-danger">{% trans 'Register' %}</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
